// Custom styles.

// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 3);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, 3);
   background: white;
   border-radius: 50px;
  }

body {
   // 使用的工具是 https://dash.deno.com/playground/fine-clam-71 可能之后会失效
   background:url(https://fine-clam-71.deno.dev);
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-position:30% 30%;
   background-size:cover;
}

.main-inner {
    margin-top: 0px;
    padding: 10px 7px 10px 7px;
    min-height: 500px;
    background: #fff;
    opacity: 0.88;
    border-radius: 25px;
}

.post-toc .nav .nav-child { display: block; }
.post-toc ol {
  font-size : 12px;
}
