.site-subtitle { 
  display: url(https://raw.githubusercontent.com/ShortPupil/ShortPupil.github.io/hexo/themes/next/source/css/_schemes/Mist/picture/bud.ico);
I:\ShortPupil.github.io\themes\next\source\css\_schemes\Mist\picture
}
